<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>myJSP</display-name>
  <servlet>
    <servlet-name>Myservlet1</servlet-name>
    <servlet-class>com.company.MyServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Myservlet1</servlet-name>
    <url-pattern>/myServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mytest</display-name>
    <servlet-name>mytest</servlet-name>
    <servlet-class>com.company.mytest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mytest</servlet-name>
    <url-pattern>/mytest</url-pattern>
  </servlet-mapping>
</web-app>