<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Mybind_test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetServletContext</display-name>
    <servlet-name>GetServletContext</servlet-name>
    <servlet-class>sec05.GetServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServletContext</servlet-name>
    <url-pattern>/GetServletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetServletContext</display-name>
    <servlet-name>SetServletContext</servlet-name>
    <servlet-class>sec05.SetServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetServletContext</servlet-name>
    <url-pattern>/SetServletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetServeltContext</display-name>
    <servlet-name>GetServeltContext</servlet-name>
    <servlet-class>sec05.GetServeltContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetServeltContext</servlet-name>
    <url-pattern>/GetServeltContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetServeltContext</display-name>
    <servlet-name>SetServeltContext</servlet-name>
    <servlet-class>sec05.SetServeltContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetServeltContext</servlet-name>
    <url-pattern>/SetServeltContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.company.ex03.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
  </servlet-mapping>
</web-app>